.home_hero {
  padding: 1rem;

  display: flex;
  /* align-items: center; */

  max-width: 100%;

  position: relative;
}

.home_hero-text {
  flex: 4;

  position: relative;

  z-index: 9999;
}

.home_hero-text span {
  display: block;
  width: 100%;
  font-size: 5rem;

  position: relative;
}

.home_hero-text .spanText-2 {
  margin-left: 11rem;

  max-width: fit-content;
}

.home_hero-blob {
  flex: 2;
  position: relative;

  height: 400px;

  width: 200px;

  bottom: 4em;
  right: 28em;

  z-index: 2;
}
.home_hero-blob svg {
  width: 100%;

  filter: blur(50px);

  /* position: relative; */
  /* bottom: 4em; */
}
.home_hero-blob .blobOne {
  position: relative;
  left: 5em;
}
.home_hero-blob .blobTwo {
  position: relative;
  top: -25em;
  left: 1em;

  z-index: -20;
}

/* Higher screen resolution styles */
@media only screen and (min-width: 1200px) {
  .home_hero {
    padding: 2rem; /* Adjust padding for higher resolutions */
  }

  .home_hero-text {
    flex: 3; /* Adjust text flex ratio */
  }
  .home_hero-text span {
    font-size: 12rem;
  }

  .home_hero-text .spanText-2 {
    margin-left: 16rem;
  }

  .home_hero-blob {
    height: 500px; /* Increase blob height */
    width: 300px; /* Increase blob width */
    bottom: 45em; /* Adjust position */
    right: 32em; /* Adjust position */
  }

  .home_hero-blob svg {
    filter: blur(50px); /* Adjust blur for the blob */
  }

  /* If you want to display the blob container on higher resolutions */
  /* .blob-container {
    display: block;
    height: 500px;
    width: 300px;
    bottom: 6em;
    left: -12em;
    transform: rotate(-30deg);
  } */

  .home_hero-blob .blobOne {
    position: relative;

    bottom: -35rem;
  }

  /* Adjust other styles as needed for larger screens */
}

/* Laptop screen sizes */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .home_hero {
    padding: 1.5rem; /* Adjust padding for laptop screens */
  }

  .home_hero-text {
    /* Additional adjustments for text section */
    flex: 3.5; /* Adjust text flex ratio */

    margin-left: 2rem;
  }
  .home_hero-text span {
    font-size: 6rem; /* Adjust font size for the span */
  }

  .home_hero-text .spanText-2 {
    margin-left: 10rem; /* Adjust margin for the secondary text */
  }

  .home_hero-blob {
    /* Additional adjustments for the blob */
    height: 450px; /* Modify blob height */
    width: 250px; /* Modify blob width */
    bottom: 8em; /* Adjust blob position */
    right: 25em; /* Adjust blob position */
  }

  .home_hero-blob svg {
    filter: blur(45px); /* Adjust blur for the blob */
  }

  .home_hero-blob .blobOne {
    /* Adjust blob position */
    bottom: -5rem;
  }

  /* Adjust other styles as needed for laptop screens */
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .home_hero {
    padding: 0.5rem; /* Adjust padding for smaller screens */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically on smaller screens */
  }

  .home_hero-text {
    margin-top: 8rem;
  }
  .home_hero-text span {
    font-size: 3rem; /* Adjust font size for smaller screens */
    margin-left: 0; /* Reset margin for spanText-2 */
    max-width: 100%; /* Ensure text spans the full width */
  }

  .home_hero-text .spanText-2 {
    margin-left: 3rem;
  }

  .home_hero-blob,
  .blob-container {
    display: block;

    position: relative;

    left: -3rem;
    top: 5rem;

    /* height: 50px; */
    width: 150px;
  }

  .home_hero-blob .blobOne {
    position: relative;

    bottom: 15rem;
  }
  /* Hide blobs on smaller screens */
}

@media only screen and (max-width: 320px) {
  .home_hero {
    padding: 0.5rem; /* Adjust padding for smaller screens */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically on smaller screens */
  }

  .home_hero-text {
    margin-top: 5rem; /* Adjust margin top for text */
  }

  .home_hero-text span {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
    margin-left: 0; /* Reset margin for spanText-2 */
    max-width: 100%; /* Ensure text spans the full width */
    text-align: center; /* Center text */
  }

  .home_hero-text .spanText-2 {
    margin-left: 1rem; /* Adjust margin for the secondary text */
  }
}
