.about_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  padding: 1rem;

  margin-inline: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_footer .back-arrow p,
.about_footer .front-arrow p {
  display: inline-block;

  position: relative;
  bottom: 1rem;

  padding-inline: 1rem;

  font-size: 12px;
}
.about_footer .front-arrow p {
  bottom: 0.7rem;
}

.about_footer .back-arrow img,
.about_footer .front-arrow img {
  cursor: pointer;

  width: 20%;
}

.about_footer .front-arrow img {
  width: 17%;

  position: relative;

  top: 0.5rem;
}
.about_footer .back-arrow img {
  width: 20%;

  position: relative;

  bottom: -0.5rem;

  transform: rotate(-180deg);
}

/* Media Queries for Mobile Responsiveness */

@media screen and (max-width: 768px) {
  .about_footer {
    flex-direction: row;
    /* align-items: flex-start; */

    margin-inline: 4rem;
  }

  .about_footer .back-arrow p,
  .about_footer .front-arrow p {
    bottom: 0.5rem; /* Adjust as needed */
    font-size: 10px; /* Adjust as needed */
  }

  .about_footer .front-arrow p {
    bottom: 0.3rem; /* Adjust as needed */
  }

  .about_footer .back-arrow img,
  .about_footer .front-arrow img {
    width: 20%; /* Adjust as needed */
  }

  .about_footer .front-arrow img {
    top: 0.8rem;
  }

  .about_footer .back-arrow img {
    width: 22%; /* Adjust as needed */
    bottom: -0.5rem; /* Adjust as needed */
  }
}

/* Media Queries for Mobile Responsiveness - 320px width */
@media screen and (max-width: 320px) {
  .about_footer {
    align-items: center;
    margin-inline: 1rem; /* Adjust margin for smaller screens */
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .about_footer .back-arrow p,
  .about_footer .front-arrow p {
    font-size: 8px; /* Adjust font size for smaller screens */
    bottom: 0.3rem; /* Adjust position as needed */
  }

  .about_footer .back-arrow p {
    bottom: 0.1rem;
  }
  .about_footer .front-arrow p {
    bottom: 0.1rem; /* Adjust position as needed */
  }

  .about_footer .back-arrow img,
  .about_footer .front-arrow img {
    width: 25%; /* Adjust width for smaller screens */
  }

  .about_footer .front-arrow img {
    bottom: 1rem; /* Adjust position as needed */
  }

  .about_footer .back-arrow img {
    width: 28%; /* Adjust width for smaller screens */
    bottom: -0.8rem; /* Adjust position as needed */
  }
}
