.contact_wrapper {
  background-color: #131333;

  margin: 1rem;

  border-radius: 10px;

  padding: 2rem 1rem;
}

.contact_wrapper h1 {
  font-size: 6rem;

  color: #eee;
}

.contact_wrapper-body {
  display: flex;
  align-items: center;
}

.contact_wrapper-form {
  margin-top: 3rem;

  flex: 4;
}
.contact_wrapper-form h3 {
  color: #eee;

  font-size: 14px;

  margin-bottom: 1rem;
}

.contact_wrapper-form form .field {
  background-color: transparent;

  display: block;

  border: 0;
  border-bottom: 1px solid lightgray;

  padding: 0.5rem;

  width: 30%;

  caret-color: #eee;
}
.contact_wrapper-form form .field:not(:last-child) {
  margin-bottom: 2rem;
}
.contact_wrapper-form form .field:focus {
  outline: none;
}

.contact_wrapper-form form select {
  color: #eee;
}
.contact_wrapper-form form select option {
  background-color: #131333;
}

/* loaction part of contact page... */
.contact_wrapper-location {
  display: flex;
  flex: 2;

  justify-content: space-between;
  color: #eee;
}

.contact_wrapper-location .location-box .location {
  margin-bottom: 1rem;

  font-size: 14px;
}
.contact_wrapper-location .location-box span {
  display: block;

  font-size: 13px;
}

.contact_wrapper-location .location-box .phone {
  font-size: 14px;

  margin-block: 1rem;
}

.contact_wrapper-location .email-box .email {
  font-size: 14px;

  margin-bottom: 1rem;
}
.contact_wrapper-location .email-box .social {
  margin-block: 1rem;

  font-size: 14px;
}
.contact_wrapper-location .email-box .socialLink:not(:last-child) {
  margin-right: 1rem;
}

.atom-container {
  position: relative;

  top: 4rem;
  left: 6rem;
}
.atom-container .atom-img div {
  position: relative;
}
.atom-container .atom-img .atom-1 {
  height: 80px;
  width: 200px;
  border: 1px solid #eee;
  border-radius: 50%;

  transform: rotate(20deg);

  left: 1.5rem;
}

.atom-container .atom-img .atom-2 {
  height: 80px;
  width: 200px;
  border: 1px solid #eee;
  border-radius: 50%;

  transform: rotate(-30deg);

  bottom: 4.8rem;
  left: 1.2rem;
}

.atom-container .atom-img p {
  position: relative;
  bottom: 8.8rem;
  left: 5rem;

  color: #eee;
}
.atom-container .atom-img p span {
  margin-left: 18px;
}

/* FOOTER... */
.contact_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
}
.contact_footer .back-arrow p,
.contact_footer .front-arrow p {
  display: inline-block;

  position: relative;
  bottom: 1.3rem;

  padding-inline: 1rem;

  font-size: 12px;

  color: #eee;
}
.contact_footer .back-arrow p {
  bottom: 1.5rem;
}
.contact_footer .front-arrow p {
  bottom: 0.2rem;
}

.contact_footer .back-arrow img,
.contact_footer .front-arrow img {
  cursor: pointer;

  width: 30%;
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .contact_wrapper {
    margin: 0.5rem;
    padding: 1rem;
  }

  .contact_wrapper h1 {
    font-size: 4rem;

    text-align: center;
  }

  .contact_wrapper-body {
    flex-direction: column;
  }

  .contact_wrapper-form form .field {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .contact_wrapper-location {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  .contact_wrapper-location .email-box .email {
    margin-top: 1rem;
  }

  .atom-container .atom-img {
    display: block;

    position: relative;
    left: 1rem;
  }
}
